{% extends "base.html.twig"%}
{% block title %}Catégorie {{infos.intitule}} {% endblock %}
            {% block head %}
                <h2>{{infos.intitule}} - Affichage de toutes les images</h2>
            {% endblock %}
            {% block menu %}
                <ul>
                    <li><a href='./'>Retour à l'accueil</a></li>
                    {% for m in menu %}
                        <li><a href='?idcateg={{m.idcateg}}'>{{m.intitule}}</a></li>
                    {% endfor %}
                    {% if(connect) %}
                        <li>{% include 'formConnect.html.twig' %}</li>
                    {% else %}
                        <li><a href="?upload">Envoyer une image</a></li>
                        <li><a href="?deco">Déconnexion</a></li>
                    {% endif %}
                </ul>
            {% endblock %}
            {% block content %}
                <hr/>
                {% for obj in imgt %}
                    <a title='{{obj.titre}} | © {{ obj.login }}' href='v/upload/resize/{{obj.nom}}' class='nosPhotos'><img src='v/upload/thumbs/{{obj.nom}}' alt='{{obj.nom}}' /></a>
                {% endfor %}    
            {% endblock %}
            {% block footer %}
                <hr/><p>Pied de page</p>
            {% endblock %}
